<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>

    <link href="~/lib/fontawesome/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

    <environment names="Development">
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    @Html.Partial("NavbarPartial")

    <div class="main-container">
        @RenderBody()
    </div>

    @Html.Partial("FooterPartial")

    <script src="~/lib/jquery/js/jquery.min.js"></script>
    <script src="~/js/toggleMenu.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
